
*{
    padding: 0;
    margin: 0;
}
#heading{
    font-size: 30px;
    text-align: center;
    color: rgb(236, 132, 132);
}
#game_body{
    display: flex;
    background-color: black;
    justify-content: center;
    margin-top: 5px;
}
.button{
    width: 100px;
    height: 50px;
    margin: 10px;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;

}

.output{
    margin: 50px;
    height: 300px;
    width:80%;
    border: 2px solid black;
    text-align: center;
    /* background-color: red; */
}
.output p{
    margin:10px 0px;
    background-color:red;
    font-size: 30px;
    height: 280px;
}
.endTheGame{
    background-color: black;
    border:  2px solid black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.end{
    width: 150px;
    height: 50px;
    margin: 10px;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
}
